#outer-div
        {
           float:left;
           border:1px solid black;
           height:500px;
           width:600px:
        }
        #header-div
        {
          border-bottom:1px solid black;
          height:100px;
          
        }
        #footer-div
        {
          clear:both;
          border-top:1px solid black;
          height:100px;
          margin:0px 0px 0px 0px;
        }
        #left-div
        {
          float:left;
          border-right:1px solid black;
          height:300px;
          width:200px;
          margin:0px 0 0 0;
        }
        #content-div
        {
          float:left;
          height:300px;
          width:400px;
          margin:0px 0px 0px 0px;
        }
        #left-div a
        {
          display: block;
          padding:20px 10px 10px 10px;
        }
        a:link {color:blue;}      
        a:visited {color:blue;}  
        a:hover {color:black;}  
        a:active {color:red;} 
        #img-div
        {
          float:left;
          border:1px solid black;
          margin:20px 20px;
          height:110px;
          width:100px;
        }
        #img-div img
        {
          height:110px;
          width:100px;
        } 
        p 
        {
         text-align:justify;
         margin:5px 5px;
        }

